back {
    background-color: #c8d9e6;
}

section {
    text-align: center;
}

form {
    border: 0.1rem, solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h1, h3 {    
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

input {
    margin-bottom: 5px;
}
